html, body {
    position: relative;
    border: none;
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 90%;
    height: 90%;
    position: relative;
    border: none;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
iframe {
    width: 100%;
    height: 100%;
}

.presets {
    background-color: aqua;
}

.presetsHeader {
    box-sizing: border-box;
    border: solid black;
}

.presetsBody div {
    border: solid black;
    box-sizing: border-box;
}

.presetsControll {
    background-color: lightgreen;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#presetsControllBody {
    flex: 1;
}
#presetsControllBody > * {
    overflow-y: scroll;
    height: 90%;
    display: none;
}
#presetsControllBody > * > * {
    box-sizing: border-box;
    border: solid black;
    font-size: small;
    display: flex;
    flex-direction: row;
}

#presetsControllBody input {
    width: 10%;
}
.top-left { grid-column: 1 / span 2; grid-row: 1 / span 2; }
.top-right { grid-column: 2; grid-row: 1 / span 2; }
.bottom-left { grid-column: 1; grid-row: 2; }
.bottom-right { grid-column: 2; grid-row: 2; }

.removeScriptArrow {
    box-sizing: border-box;
    border: solid black;
    background-color: white;
    min-height: 100%;
    width: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.arrowVertical {
    width: 25px;
    flex: 1;
    align-self: center;
    pointer-events: all;
}

.arrowVertical:hover > * {
    cursor: pointer;
    visibility: visible;
}

.arrowHorizontal {
    position: absolute;
    height: 25px;
    width: 100%;
    display: flex;
    align-self: center;
}

.arrowHorizontal h1 {
    transform: rotate(90deg);
}
.arrowHorizontal:hover > * {
    cursor: pointer;
    visibility: visible;
}

#textarea {
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100%;
    white-space: nowrap;
}