body {
    position: absolute;
    border: none;
    margin: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 90%;
    height: 90%;
}