html, body {
    position: relative;
    border: none;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
}
canvas {
    box-sizing: border-box;
    border: none;
    margin: 0%;
    padding: 0%;
    width: 50%;
    height: 100%;
    flex: 1;
    display: block;
    background-image: url("../../../images/pngbackground.svg");
}

textarea {
    box-sizing: border-box;
    height: 100%;
    width: 47%;
    margin: 0%;
    padding: 0%;
    text-align: start;
    display: block;
}
.textarea.removeScript {
    display: none;
}

.removeScriptArrow {
    border: solid black;
    box-sizing: border-box;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeScriptArrow :last-child {
    display: none;
}

.removeScript :first-child {
    display: none;
}

.removeScript :last-child {
    display: block;
}